<script type="text/javascript">
  <% if loggedin? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<div id="root"></div>
