<script type="text/javascript">
  window.staticImages = {
    crossfitBackground: "<%= asset_path('crossfit_photo.jpg')%>"
  }

  <% if loggedin? %>
    window.currentUser = <%= render(
      "api/users/current_user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

</script>
<link href="https://fonts.googleapis.com/css?family=Play|Raleway" rel="stylesheet">

<div id="root"></div>
