.create-workout-form {
 border: 1px solid #2F496E;
 margin-bottom: 15px;
 border-radius: 5px;
 margin-right: 17px;
 background: #ED8C72;
 border: 1px solid #ED8C72;
 border-radius: 5px;
 padding: 15px;
 padding-bottom: 25px;
}

.new-workout {
  display: flex;
  justify-content: center;
}

.new-workout-button {
    background: #2988BC;
    padding: 7px;
    border-radius: 5px;
    width: 60px;
    color: #F4EADE;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    margin-left: 15px;
    margin-top: 8px;
}

.new-exercise-button {
  background: #2988BC;
  padding: 7px;
  border-radius: 5px;
  width: 60px;
  color: #F4EADE;
  font-size: 15px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 15px;
}

.create-workout-input-button-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
