.workout-auto-li {
  border: 1px solid grey;
  padding: 5px;
  width: 300px;
  margin: 0px;
  font-size: 15px;
  height: 30px;
  background-color: #F4EADE;
  color: black;
}

.exercise-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background: #ED8C72;
  border: 1px solid #ED8C72;
  border-radius: 5px;
}

.exercise-second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-label {

}

.exercise-input {
  margin-bottom: 20px;
}

.exercise-ul {
  overflow: auto;
  max-height: 120px;
}
