.render-div {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.render-div-2 {

  display: flex;
  align-items: center;
}

.bg-img {
  margin-top: 70px;
  margin-bottom: 10px;
  border-radius: 3px;
  margin-right: 50px;
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
}

.render-button {
  width: 50px;
}

.new-user-home {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 350px;
  border-radius: 5px;
  background-color: #A9A9A9;
}

.login-home-button {
  background: #CAEBF2;
  padding: 7px;
  border-radius: 5px;
  width: 60px;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-home-button {
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.signup-home-button {
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
