.errors-list {
  margin-top: 5px;
  color: red;
  font-style: bold;
}

.errors {
  margin-top: 5px;
  color: red;
  font-style: bold;
}

.render-div {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.render-div-2 {
  display: flex;
  align-items: center;
}

.birthday {
  width: 250px;
  margin-left: 15px;
}

.dob{
  margin-top: 7px;
}

.birthday-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-button-render {
  margin-bottom: 10px;
  border: 1px solid #ED8C72;
  padding: 7px;
  border-radius: 5px;
  background-color: #ED8C72;
  color: white;
  font-size: 15px;
  width: 60px;
  display: flex;
  justify-content: center;
  margin-right: 7px;
}

.demo-button {
  margin-bottom: 10px;
  border: 1px solid #2988BC;
  padding: 7px;
  border-radius: 5px;
  background-color: #2988BC;
  color: #F4EADE;
  font-size: 15px;
  width: 90px;
  display: flex;
  justify-content: center;
  margin-left: 7px;
}


.bg-img {
  margin-top: 70px;
  margin-bottom: 10px;
  border-radius: 3px;
  margin-right: 50px;
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
  border: 1px solid grey;
}

.render-button {
  width: 50px;
}

.new-user-home {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 350px;
  border-radius: 5px;
  background-color: #2F496E;
}

.login-home-button {
  background: #2988BC;
  padding: 7px;
  border-radius: 5px;
  width: 60px;
  color: #F4EADE;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-home-button {
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.signup-home-button {
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
