// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #882601;
  color: white;
  opacity: 0.8;
}

.signup-nav {
  display: flex;
  justify-content: space-between;
}

.sign-up {
  margin-right: 15px;
  font-size: 20px;
}

.login {
  margin-right: 15px;
  font-size: 20px;
}

.gymbump-header {
  font-size: 30px;
}

.sign-up-form {
  display: flex;
  justify-content: center;

}

.new-user {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 250px;
    border-radius: 5px;
}

input {
  border: 1px solid grey;
  padding: 5px;
  width: 200px;
  margin: 0px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.g-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-button {
  margin-bottom: 10px;
  border: 1px solid #062F4F;
  padding: 7px;
  border-radius: 5px;
  background-color: #062F4F;
  color: white;
  font-size: 15px;
}
