// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0E0B16;
  color: #E7DFDD;
  opacity: 0.8;
  border-bottom: 2px solid #E7DFDD;
}

.signup-nav {
  display: flex;
  justify-content: space-between;
}

.sign-up {
  margin-right: 15px;
  font-size: 20px;
}

.sign-up-header, .login-header {
  color: black;
}

.login {
  margin-right: 15px;
  font-size: 20px;
}

.gymbump-header {
  font-size: 30px;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  background: black;
}

.sign {
  display: flex;
  justify-content: center;
  background: #0E0B16;
  height: 100;

}

.new-user {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 350px;
  border-radius: 5px;
  background-color: #E7DFDD;
}

input {
  border: 1px solid grey;
  padding: 5px;
  width: 300px;
  margin: 0px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}

.g-selector {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  background-color: #E7DFDD;
  color: grey;
  font-size: 15px;
}

.sub-button {
  margin-bottom: 10px;
  border: 1px solid #4717F6;
  padding: 7px;
  border-radius: 5px;
  background-color: #4717F6;
  color: white;
  font-size: 15px;
  width: 60px;
  display: flex;
  justify-content: center;
}

.sub-button-two {
  margin-bottom: 10px;
  border: 1px solid #4717F6;
  padding: 7px;
  border-radius: 5px;
  background-color: #4717F6;
  color: white;
  font-size: 15px;
  width: 60px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
