.setresult-form {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.set-result-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ED8C72;
  border: 1px solid #ED8C72;
  border-radius: 5px;
  margin-bottom: 20px;
}

.unit {
  width: 50px;
  font-size: 12px;
  height: 30px;
  padding: 5px;
  margin-right: 10px
}

.new-set {
  width: 110px;
  margin: 5px;
}

.new-set-button {
  background: #2988BC;
  padding: 7px;
  border-radius: 5px;
  width: 60px;
  color: #F4EADE;
  font-size: 15px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 20px;
}
