// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.placerholder {
  width: 15%;
  border: 1px solid #2F496E;
  min-width: 200px;
  margin-left: 45px;
  border-radius: 5px
}

.user-prof-pic {
  margin-bottom: 25px;
}

.user-stats-name {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #2988BC;
  width: 240px;
  margin-left: 25px;
}

.user-stats {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #2988BC;
  width: 240px;
  margin-left: 25px;
}

.user-stats:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ul-stats {
  padding-bottom: 25px;
  max-height: 525px;
}

.new-workout-and-workouts {
  border: 1px solid #2F496E;
  padding: 15px;
  border-radius: 5px;
  background: #2F496E;
}

.div-main {
  display: flex;
  justify-content: flex-start;
  margin-top: 57px;
  margin-left: 75px;
  margin-right: 75px;
}

.div-member-stats {
 width: 15%;
 border: 1px solid #2F496E;
 min-width: 300px;
 margin-right: 45px;
 border-radius: 5px;
 background-color: #ED8C72;
 max-height: 525px;
}

.div-workout-list {
  max-width: 433px;
  max-height: 500px;
  border-radius: 5px
  border 1px solid #2F496E;

}

.ul-workout-list {
  table-layout: fixed;
  border-collapse: collapse;
  width: 75%;
  border: 1px solid black;
}

.created-workout {
  color: black;
}

.workout-name {
  color: black;
}

.li-workout-list {
 color: black;
 width: 400px;
 height: 50px;
 border-top: 1px solid black;
 border-right: 1px solid black;
 border-left: 1px solid black;
 word-wrap:break-word;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-right: 15px;
 padding-left: 15px;
 background-color: #F4EADE;
}

.li-workout-list:hover {
 background-color: #ED8C72;
}

.li-workout-list:last-child {
  border-bottom: 1px solid black;
}

.add-workout-button {
  margin-bottom: 10px;
  border: 1px solid #ED8C72;
  padding: 7px;
  border-radius: 5px;
  background-color: #ED8C72;
  color: white;
  font-size: 15px;
  width: 115px;
  display: flex;
  justify-content: center;
}
